/ChakraCore Samples/Hello World/Windows/Delphi/HelloWorld.res
/ChakraCore Samples/Hello World/Windows/Delphi/__history
/ChakraCore Samples/Hello World/Windows/Delphi/Win32/Debug
/ChakraCore Samples/Hello World/Windows/Delphi/HelloWorld.stat
/ChakraCore Samples/Hello World/Windows/Delphi/HelloWorld.identcache
/ChakraCore Samples/Hello World/Windows/Delphi/HelloWorld.dproj.local
/ChakraCore Samples/Hello World/Windows/Delphi/HelloWorld.dproj
